<form ngNativeValidate #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="row">
        <div class="input-field col s12">
            <input type="email" name="email" #email="ngModel" [(ngModel)]="_email" placeholder="Enter your email" required>
        </div>
        <div class="input-field col s12">
            <input type="password" name="password" #password="ngModel" [(ngModel)]="_password" placeholder="Enter your password" required>
        </div>
        <div class="card-action">
            <div class="input-field col s12">
                <button type="submit" class="btn right" style="margin-left: 2px">Login</button>
                <button type="button" class="btn right" (click)="rememberMe(loginForm)">Remember me</button>
            </div>
        </div>
    </div>
</form>
