<nav>
  <div class="nav-wrapper blue">
    <a href="/" class="brand-logo" title="Home">&nbsp;TIENDA COLCHONES Y SOMIERES</a>
  </div>
</nav>
<ul id="slide-out" class="sidenav">
  <li><a href="/colchones">Colchones</a></li>
  <li><a href="/somieres">Somieres</a></li>
  <li *ngIf="!apiService.isAuthenticated"><a href="/login">Login</a></li>
  <li *ngIf="apiService.isAuthenticated"><a href="/logout">Logout</a></li>
</ul>
<a (click)="openSideNav()" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

<router-outlet></router-outlet>